.dashboard {
    margin-top: 85px;
    margin-left: 290px;
    margin-right: 25px;
}

.line-break {
    width: 60%;
    border: 1px solid #ad4830;
  }

  .line-quote {
    width: 40%;
    border: 1px solid #ad4830;
  }