.recipe-container {
    margin-top: 25px;
    margin-left: 325px;
    margin-right: 75px;
}

.recipe-img {
    position: absolute;
    z-index: -1;
    width: 400px;
    margin-left: -100px;
    opacity: 75%;
}

