.recipes-container {
    margin-top: 20px;
    margin-left: 250px;
    padding: 20px;
}

.sort-container {
    text-align: right;
    margin: 10px 30px;
}

.sort-select {
    background-color: #fff4dd;
    color: #ad4830;
    font-family: 'Fraunces', serif;
    border:  #ad4830 1px solid;
    border-radius: 3px;
}