.drawer {
  background-color: #fff4dd;
  height: 100%;
  width: 255px;
}

.title {
  z-index: 1400;
  position: relative;
}

.drawer-top {
  background-color: #ad4830;
  padding: 30px 0px;
}

.links {
  margin-top: 10px;
}
